*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --prime-color: #2196F3;
  --second-color: #188CE8;
  --prime-title-color:#212121;
  --prime-text-color:#757575;
  --bg-color:#2F303A;
  --c-color: #ffffff;
  --c1-color: #ECECEC;
  --c2-color: #F5F4FA;
  --c3-color: rgba(255, 255, 255, 0,6);
  --d-color: #000000;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--prime-text-color);
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* -- header  -- */

.hdr{
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid --c1-color ;
  } 

.hdr-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo{
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: Raleway;
  text-decoration: none;
}

.logo-block{
  margin-right: 93px;
}

.logo-web{
  color: var(--prime-color);
}

.logo-studio{
  color: var(--d-color);
}



.menu-list{
  display: flex;
  margin-right: 223px;
  margin-bottom: 0;
}


.contact-list{
  display: flex;
  margin-right: 0;
  margin-bottom: 0;
}

.bit {
  margin-right: 50px;
}

.contact-one {
  margin-right: 50px; 
}

.menu-list,
.contact-list,
.plan-list,
.deal-list,
.team-list,
.ftr-addr-list,
.btn-list,.folio-list{
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.menu-link{
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--prime-title-color);
  text-decoration: none;
}

.contact{
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);
  text-decoration: none;
}

.current,
.menu-link:focus,
.menu-link:hover,
.contact:focus,
.contact:hover{
  color: var(--prime-color);
}

/* hero */

.hero-box{
  margin: 0 auto;
  padding: 200px 15px ;
  width: 1200px;
  align-items: center;
  text-align: center;
  }
.hero{

  height: 600px;
  background:var(--bg-color);
}

.hero-title{
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--c-color);
}

.prime-btn{
  width: 200px;
  height: 50px;
  background: var(--prime-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight:700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--c-color);
}

.prime-btn:hover,
.prime-btn:focus{
  background: var(--second-color);
}

/* sections plan, plan & .placement */

.plan-list-block,
.deal-list-block,
.team-list-block{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 0;
} 


.plan-box,
.deal-box,
.team-box,
.ftr-box,
.portfolio-box{
  margin: 0 auto;
  padding: 94px 15px ;
  width: 1200px;
 }

/* .plan-list{
      
} */

.plan-item{
  width: 270px;}
 

.title{
  font-weight: 700;
  line-height: 1.17;
  color: var(--prime-title-color);
}

.plan-item-title{
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.plan-item-text{
  margin-top: 0;
  margin-bottom: 0;
}

/*  deal-title & team-title*/

.deal-title,
.team-title{
  font-size: 36px;
  text-align: center;
}

.deal-title-block,
.team-title-block{
  margin-top: 0;
  margin-bottom: 50px;
}

/* section team */

.team{
  background: var(--c2-color);
}

.team-item{
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-item-title{
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--prime-title-color);
}

.team-item-text{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: var(--prime-text-color);
}

/* footer */

.ftr{
  background-color:var(--bg-color);
  }

.ftr-box{
  width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
  }

.addr{
  font-style: normal;
}

.ftr-addr-list{
  display: block;
  margin-bottom: 0;
}

.ftr-addr-item{
   margin-bottom: 9px;
}

.ftr-address{
 color: var(--c-color);
 text-decoration: none;
}

.ftr-addr{
  color: var(--c3-color);
  text-decoration: none;
}

.ftr-addr:hover,
.ftr-addr:focus{
  color: var(--prime-color);
}

.studio{
  color:var(--c-color);
  }

.ftr-logo{
  display: block;
  margin-bottom: 20px;
}

/* portfolio */

/* button-line */

.btn-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  }

.btn{
  min-width: 73px;
  height: 38px;
  border: none;
  cursor: pointer;
  background: var(--c2-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.2;
}

.btn-block{
  margin-right: 8px;
}

.btn:active,
.btn:hover,
.btn:focus{
background: var(--prime-color);
color: var(--c-color);
}

/*  folios */

.folio-list-block{
display: flex;
flex-wrap: wrap; 
}

.folio-list{
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.card{
  margin-right: 14px;
  margin-left: 13px;
}

.card-bottom{
  padding-left: 24px;
  padding-bottom: 20px;
}

.folio-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--prime-title-color);
  margin-top: 20px;
  margin-bottom: 4px;
}

.folio-text{
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.img{
  display: block;
  max-width: 100%;
  height: auto;
  }